USE [master]
GO

IF NOT EXISTS (
    SELECT name 
    FROM sys.databases 
    WHERE name = N'examLearning'
)
BEGIN
    PRINT 'Creating database [examLearning]...'
    CREATE DATABASE [examLearning]
END
ELSE
BEGIN
    PRINT 'Database [examLearning] already exists.'
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [examLearning].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [examLearning]
GO
/****** Object:  Table [dbo].[auth_group]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_group_permissions]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_permission]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[content_type_id] [int] NOT NULL,
	[codename] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [nvarchar](128) NOT NULL,
	[last_login] [datetimeoffset](7) NULL,
	[is_superuser] [bit] NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[first_name] [nvarchar](150) NOT NULL,
	[last_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[is_staff] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[date_joined] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_groups]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_groups](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[group_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_user_permissions]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_user_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certified]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certified](
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[CTitle] [nvarchar](max) NULL,
	[CreDateTime] [datetime] NOT NULL,
	[UpdDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_admin_log]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_admin_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_time] [datetimeoffset](7) NOT NULL,
	[object_id] [nvarchar](max) NULL,
	[object_repr] [nvarchar](200) NOT NULL,
	[action_flag] [smallint] NOT NULL,
	[change_message] [nvarchar](max) NOT NULL,
	[content_type_id] [int] NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_content_type]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_content_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[app_label] [nvarchar](100) NOT NULL,
	[model] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_migrations]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_migrations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[app] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[applied] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_session]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_session](
	[session_key] [nvarchar](40) NOT NULL,
	[session_data] [nvarchar](max) NOT NULL,
	[expire_date] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionCertified]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionCertified](
	[QCertID] [int] IDENTITY(1,1) NOT NULL,
	[CID] [int] NOT NULL,
	[QHID] [int] NOT NULL,
	[CreDateTime] [datetime] NOT NULL,
	[UpdDateTime] [datetime] NULL,
 CONSTRAINT [PK_QuestionCertified] PRIMARY KEY CLUSTERED 
(
	[QCertID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionChoose]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionChoose](
	[QCID] [int] IDENTITY(1,1) NOT NULL,
	[QHID] [int] NOT NULL,
	[QCTitle] [nvarchar](max) NULL,
	[IsCorrect] [bit] NULL,
	[CreDateTime] [datetime] NOT NULL,
	[UpdDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionEvent]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionEvent](
	[QEID] [int] IDENTITY(1,1) NOT NULL,
	[QHID] [int] NOT NULL,
	[IsCorrect] [bit] NULL,
	[CreDateTime] [datetime] NOT NULL,
	[UpdDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionHeader]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionHeader](
	[QHID] [int] IDENTITY(1,1) NOT NULL,
	[QHTitle] [nvarchar](max) NULL,
	[QHMultiple] [bit] NULL,
	[Explain] [nvarchar](max) NULL,
	[IsDone] [bit] NULL,
	[IsCorrect] [bit] NULL,
	[IsTag] [bit] NULL,
	[CreDateTime] [datetime] NOT NULL,
	[UpdDateTime] [datetime] NULL,
 CONSTRAINT [PK__Question__D978A9086281754B] PRIMARY KEY CLUSTERED 
(
	[QHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionRecord]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionRecord](
	[QRID] [int] IDENTITY(1,1) NOT NULL,
	[QCID] [int] NOT NULL,
	[QEID] [int] NOT NULL,
	[CreDateTime] [datetime] NOT NULL,
	[UpdDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionTag]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionTag](
	[QTagID] [int] IDENTITY(1,1) NOT NULL,
	[THID] [int] NOT NULL,
	[QHID] [int] NOT NULL,
	[CreDateTime] [datetime] NOT NULL,
	[UpdDateTime] [datetime] NULL,
 CONSTRAINT [PK_QuestionTag] PRIMARY KEY CLUSTERED 
(
	[QTagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagHeader]    Script Date: 2025/8/13 上午 11:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagHeader](
	[THID] [int] IDENTITY(1,1) NOT NULL,
	[TagTitle] [nvarchar](max) NULL,
	[CreDateTime] [datetime] NOT NULL,
	[UpdDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[THID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[auth_user] ON 

INSERT [dbo].[auth_user] ([id], [password], [last_login], [is_superuser], [username], [first_name], [last_name], [email], [is_staff], [is_active], [date_joined]) VALUES (1, N'pbkdf2_sha256$720000$rXBh0Lu7krBlryp4gaho3u$Uq37rmgxx9wuIF8bARb66JEhUAGeBlS0DHfsaOWwtUk=', CAST(N'2025-08-13T03:16:20.2221220+00:00' AS DateTimeOffset), 1, N'testforinsertdata', N'', N'', N'testforinsertdata@123.com', 1, 1, CAST(N'2025-08-13T03:14:55.0108010+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[auth_user] OFF
GO
SET IDENTITY_INSERT [dbo].[Certified] ON 

INSERT [dbo].[Certified] ([CID], [CTitle], [CreDateTime], [UpdDateTime]) VALUES (1, N'aws solution architect', CAST(N'2025-08-13T03:16:46.000' AS DateTime), CAST(N'2025-08-13T03:16:47.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Certified] OFF
GO
SET IDENTITY_INSERT [dbo].[django_admin_log] ON 

INSERT [dbo].[django_admin_log] ([id], [action_time], [object_id], [object_repr], [action_flag], [change_message], [content_type_id], [user_id]) VALUES (1, CAST(N'2025-08-13T03:16:48.8181460+00:00' AS DateTimeOffset), N'1', N'aws solution architect (CID:1)', 1, N'[{"added": {}}]', 1, 1)
INSERT [dbo].[django_admin_log] ([id], [action_time], [object_id], [object_repr], [action_flag], [change_message], [content_type_id], [user_id]) VALUES (2, CAST(N'2025-08-13T03:17:44.4525260+00:00' AS DateTimeOffset), N'1', N'Tagheader object (1)', 1, N'[{"added": {}}]', 2, 1)
INSERT [dbo].[django_admin_log] ([id], [action_time], [object_id], [object_repr], [action_flag], [change_message], [content_type_id], [user_id]) VALUES (3, CAST(N'2025-08-13T03:19:11.7422030+00:00' AS DateTimeOffset), N'2', N'S3 (THID:2)', 1, N'[{"added": {}}]', 2, 1)
SET IDENTITY_INSERT [dbo].[django_admin_log] OFF
GO
SET IDENTITY_INSERT [dbo].[django_content_type] ON 

INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (1, N'myapp', N'certified')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (2, N'myapp', N'tagheader')
SET IDENTITY_INSERT [dbo].[django_content_type] OFF
GO
INSERT [dbo].[django_session] ([session_key], [session_data], [expire_date]) VALUES (N'ysfojcd09ekfnh9cbvtxs889xqejmgsi', N'.eJxVjDsOwjAQBe_iGlk2_mUp6XMGa3dt4wBypDipEHeHSCmgfTPzXiLitta49bzEKYmL0OL0uxHyI7cdpDu22yx5busykdwVedAuxznl5_Vw_w4q9vqtc8oQNGCgYBmDUgDGaIcJFRGjBXCeURfrNJhiMtMAjskDJl38eRDvD_BhODw:1um1yO:d-JxO2zrZJGM7X9TbAeDczQMq3q0aHOOnUkgh0hncLg', CAST(N'2025-08-27T03:16:20.2248120+00:00' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[QuestionCertified] ON 

INSERT [dbo].[QuestionCertified] ([QCertID], [CID], [QHID], [CreDateTime], [UpdDateTime]) VALUES (1, 1, 1, CAST(N'2025-08-13T11:22:38.017' AS DateTime), CAST(N'2025-08-13T11:22:38.017' AS DateTime))
INSERT [dbo].[QuestionCertified] ([QCertID], [CID], [QHID], [CreDateTime], [UpdDateTime]) VALUES (2, 1, 2, CAST(N'2025-08-13T11:22:38.030' AS DateTime), CAST(N'2025-08-13T11:22:38.030' AS DateTime))
INSERT [dbo].[QuestionCertified] ([QCertID], [CID], [QHID], [CreDateTime], [UpdDateTime]) VALUES (3, 1, 3, CAST(N'2025-08-13T11:22:38.037' AS DateTime), CAST(N'2025-08-13T11:22:38.037' AS DateTime))
SET IDENTITY_INSERT [dbo].[QuestionCertified] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionChoose] ON 

INSERT [dbo].[QuestionChoose] ([QCID], [QHID], [QCTitle], [IsCorrect], [CreDateTime], [UpdDateTime]) VALUES (1, 1, N'Use Amazon S3 Storage class analysis to get recommendations for transitions of objects to Amazon S3 Glacier storage classes to reduce storage costs. You can also automate moving these objects into lower-cost storage tier using Lifecycle Policies', 0, CAST(N'2025-08-13T11:22:38.013' AS DateTime), CAST(N'2025-08-13T11:22:38.013' AS DateTime))
INSERT [dbo].[QuestionChoose] ([QCID], [QHID], [QCTitle], [IsCorrect], [CreDateTime], [UpdDateTime]) VALUES (2, 1, N'Use AWS Compute Optimizer recommendations to help you choose the optimal Amazon EC2 purchasing options and help reserve your instance capacities at reduced costs', 0, CAST(N'2025-08-13T11:22:38.013' AS DateTime), CAST(N'2025-08-13T11:22:38.013' AS DateTime))
INSERT [dbo].[QuestionChoose] ([QCID], [QHID], [QCTitle], [IsCorrect], [CreDateTime], [UpdDateTime]) VALUES (3, 1, N'Use AWS Cost Explorer Resource Optimization to get a report of Amazon EC2 instances that are either idle or have low utilization and use AWS Compute Optimizer to look at instance type recommendations', 1, CAST(N'2025-08-13T11:22:38.013' AS DateTime), CAST(N'2025-08-13T11:22:38.013' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[QuestionChoose] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionHeader] ON 

INSERT [dbo].[QuestionHeader] ([QHID], [QHTitle], [QHMultiple], [Explain], [IsDone], [IsCorrect], [IsTag], [CreDateTime], [UpdDateTime]) VALUES (2, N'You started a new job as a solutions architect at a company that has both AWS experts and people learning AWS. Recently, a developer misconfigured a newly created Amazon RDS database which resulted in a production outage.How can you ensure that Amazon RDS specific best practices are incorporated into a reusable infrastructure template to be used by all your AWS users?', 0, N'總體解釋
Correct option:
Use AWS CloudFormation to manage Amazon RDS databases
AWS CloudFormation provides a common language for you to model and provision AWS and third-party application resources in your cloud environment. AWS CloudFormation allows you to use programming languages or a simple text file to model and provision, in an automated and secure manner, all the resources needed for your applications across all regions and accounts. This gives you a single source of truth for your AWS and third-party resources.
AWS CloudFormation allows you to keep your infrastructure as code and re-use the best practices around your company for configuration parameters. Therefore, this is the correct option for the given use-case.
Incorrect options:
Store your recommendations in a custom AWS Trusted Advisor rule
- AWS Trusted Advisor is an online tool that provides you real-time guidance to help you provision your resources following AWS best practices. Whether establishing new workflows, developing applications, or as part of ongoing improvement, take advantage of the recommendations provided by AWS Trusted Advisor regularly to help keep your solutions provisioned optimally. AWS Trusted Advisor just provides recommendations rather than creating reusable infrastructure templates.
Create an AWS Lambda function which sends emails when it finds misconfigured Amazon RDS databases
- Using an AWS Lambda function to scan for a misconfigured Amazon RDS database is a reactive mechanism. It does not help in creating reusable infrastructure templates.
Attach an IAM policy to interns preventing them from creating an Amazon RDS database
- Using an IAM policy to prevent interns from creating an Amazon RDS database does not solve the problem of allowing any user to create resources by leveraging reusable infrastructure templates. So, this option is ruled out.
References:
https://aws.amazon.com/premiumsupport/technology/trusted-advisor/
https://aws.amazon.com/cloudformation/', 0, 1, 0, CAST(N'2025-08-13T11:22:38.020' AS DateTime), CAST(N'2025-08-13T11:22:38.020' AS DateTime))
INSERT [dbo].[QuestionHeader] ([QHID], [QHTitle], [QHMultiple], [Explain], [IsDone], [IsCorrect], [IsTag], [CreDateTime], [UpdDateTime]) VALUES (10, N'Your company is deploying a website running on AWS Elastic Beanstalk. The website takes over 45 minutes for the installation and contains both static as well as dynamic files that must be generated during the installation process.As a Solutions Architect, you would like to bring the time to create a new instance in your AWS Elastic Beanstalk deployment to be less than 2 minutes. Which of the following options should be combined to build a solution for this requirement? (Select two)', 1, N'總體解釋
Correct options:
AWS Elastic Beanstalk is an easy-to-use service for deploying and scaling web applications and services developed with Java, .NET, PHP, Node.js, Python, Ruby, Go, and Docker on familiar servers such as Apache, Nginx, Passenger, and IIS.
You can simply upload your code and Elastic Beanstalk automatically handles the deployment, from capacity provisioning, load balancing, auto-scaling to application health monitoring. At the same time, you retain full control over the AWS resources powering your application and can access the underlying resources at any time.
When you create an AWS Elastic Beanstalk environment, you can specify an Amazon Machine Image (AMI) to use instead of the standard Elastic Beanstalk AMI included in your platform version. A custom AMI can improve provisioning times when instances are launched in your environment if you need to install a lot of software that isn''t included in the standard AMIs.
Create a Golden Amazon Machine Image (AMI) with the static installation components already setup
A Golden AMI is an AMI that you standardize through configuration, consistent security patching, and hardening. It also contains agents you approve for logging, security, performance monitoring, etc. For the given use-case, you can have the static installation components already setup via the golden AMI.
Use Amazon EC2 user data to customize the dynamic installation parts at boot time
Amazon EC2 instance user data is the data that you specified in the form of a configuration script while launching your instance. You can use Amazon EC2 user data to customize the dynamic installation parts at boot time, rather than installing the application itself at boot time.
Incorrect options:
Store the installation files in Amazon S3 so they can be quickly retrieved
- Amazon S3 bucket can be used as a storage location for your source code, logs, and other artifacts that are created when you use AWS Elastic Beanstalk. It cannot be used to run or generate dynamic files since Amazon S3 is not an environment but a storage service.
Use Amazon EC2 user data to install the application at boot time
- User data of an instance can be used to perform common automated configuration tasks or run scripts after the instance starts. User data, cannot, however, be used to install the application since it takes over 45 minutes for the installation which contains static as well as dynamic files that must be generated during the installation process.
Use AWS Elastic Beanstalk deployment caching feature
- AWS Elastic Beanstalk deployment caching is a made-up option. It is just added as a distractor.
References:
https://aws.amazon.com/elasticbeanstalk/
https://aws.amazon.com/blogs/awsmarketplace/announcing-the-golden-ami-pipeline/
https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/AWSHowTo.S3.html
https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.customenv.html
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-add-user-data.html', 0, 0, 1, CAST(N'2025-08-13T11:22:38.077' AS DateTime), CAST(N'2025-08-13T11:22:38.077' AS DateTime))
INSERT [dbo].[QuestionHeader] ([QHID], [QHTitle], [QHMultiple], [Explain], [IsDone], [IsCorrect], [IsTag], [CreDateTime], [UpdDateTime]) VALUES (17, N'You have an Amazon S3 bucket that contains files in two different folders -s3://my-bucket/imagesands3://my-bucket/thumbnails. When an image is first uploaded and new, it is viewed several times. But after 45 days, analytics prove that image files are on average rarely requested, but the thumbnails still are. After 180 days, you would like to archive the image files and the thumbnails. Overall you would like the solution to remain highly available to prevent disasters happening against a whole Availability Zone (AZ).How can you implement an efficient cost strategy for your Amazon S3 bucket? (Select two)', 1, N'總體解釋
Correct options:
To manage your S3 objects, so they are stored cost-effectively throughout their lifecycle, configure their Amazon S3 Lifecycle. An S3 Lifecycle configuration is a set of rules that define actions that Amazon S3 applies to a group of objects. There are two types of actions:
Transition actions — Define when objects transition to another storage class. For example, you might choose to transition objects to the S3 Standard-IA storage class 30 days after you created them, or archive objects to the S3 Glacier storage class one year after creating them.
Expiration actions — Define when objects expire. Amazon S3 deletes expired objects on your behalf.
Create a Lifecycle Policy to transition objects to Amazon S3 Standard IA using a prefix after 45 days
Amazon S3 Standard-IA is for data that is accessed less frequently but requires rapid access when needed. Amazon S3 Standard-IA offers high durability, high throughput, and low latency of S3 Standard, with a low per gigabyte storage price and per gigabyte retrieval fee. This combination of low cost and high performance makes Amazon S3 Standard-IA ideal for long-term storage, backups, and as a data store for disaster recovery files. The minimum storage duration charge is 30 days.
As the use-case mentions that after 45 days, image files are rarely requested, but the thumbnails still are. So you need to use a prefix while configuring the Lifecycle Policy so that only objects in the
s3://my-bucket/images
are transitioned to Standard IA and not all the objects in the bucket.
Create a Lifecycle Policy to transition all objects to Amazon S3 Glacier after 180 days
Amazon S3 Glacier and S3 Glacier Deep Archive are secure, durable, and extremely low-cost Amazon S3 cloud storage classes for data archiving and long-term backup. They are designed to deliver 99.999999999% durability, and provide comprehensive security and compliance capabilities that can help meet even the most stringent regulatory requirements.
Incorrect options:
Create a Lifecycle Policy to transition all objects to Amazon S3 Standard IA after 45 days
- As discussed above, you need to use a prefix while configuring the Lifecycle Policy so that only objects in the
s3://my-bucket/images
are transitioned to Amazon S3 Standard IA and not all the objects in the bucket.
Create a Lifecycle Policy to transition objects to Amazon S3 Glacier using a prefix after 180 days
- After 180 days, you can move all the objects to Amazon S3 Glacier storage as per the use case. Glacier doesn''t need prefixes for the given use-case.
Create a Lifecycle Policy to transition objects to Amazon S3 One Zone IA using a prefix after 45 days
- Amazon S3 Standard-IA is for data that is accessed less frequently but requires rapid access when needed. Amazon S3 Standard-IA offers high durability, high throughput, and low latency of Amazon S3 Standard, with a low per GB storage price and per GB retrieval fee. This combination of low cost and high performance makes S3 Standard-IA ideal for long-term storage, backups, and as a data store for disaster recovery files. The minimum storage duration charge is 30 days.
Amazon S3 One Zone-IA is for data that is accessed less frequently but requires rapid access when needed. Unlike other S3 Storage Classes which store data in a minimum of three Availability Zones (AZs), S3 One Zone-IA stores data in a single AZ and costs 20% less than S3 Standard-IA. The minimum storage duration charge is 30 days.
Finally, Amazon S3 One Zone IA will not achieve the necessary availability in case an Availability Zone (AZ) goes down.
References:
https://aws.amazon.com/s3/storage-classes/
https://docs.aws.amazon.com/AmazonS3/latest/dev/object-lifecycle-mgmt.html', 0, 1, 1, CAST(N'2025-08-13T11:22:38.120' AS DateTime), CAST(N'2025-08-13T11:22:38.120' AS DateTime))
INSERT [dbo].[QuestionHeader] ([QHID], [QHTitle], [QHMultiple], [Explain], [IsDone], [IsCorrect], [IsTag], [CreDateTime], [UpdDateTime]) VALUES (20, N'A company has recently created a new department to handle their services workload. An IT team has been asked to create a custom VPC to isolate the resources created in this new department. They have set up the public subnet and internet gateway (IGW). However, they are not able to ping the Amazon EC2 instances with elastic IP address (EIP) launched in the newly created VPC.As a Solutions Architect, the team has requested your help. How will you troubleshoot this scenario? (Select two)', 1, N'總體解釋
Correct options:
Check if the route table is configured with internet gateway
An internet gateway (IGW) is a horizontally scaled, redundant, and highly available VPC component that allows communication between instances in your VPC and the internet. An internet gateway serves two purposes: to provide a target in your VPC route tables for internet-routable traffic, and to perform network address translation (NAT) for instances that have been assigned public IPv4 addresses. An internet gateway supports IPv4 and IPv6 traffic.
To enable access to or from the internet for instances in a subnet in a VPC, you must do the following:
    1. Attach an internet gateway to your VPC.
    2. Add a route to your subnet''s route table that directs internet-bound traffic to the internet gateway.
    3. Ensure that instances in your subnet have a globally unique IP address
    4. Ensure that your network access control lists and security group rules allow the relevant traffic to flow to and from your instance.
A route table contains a set of rules, called routes, that are used to determine where network traffic from your subnet or gateway is directed. After creating an IGW, make sure the route tables are updated. Additionally, ensure the security group allows the ICMP protocol for ping requests.
Check if the security groups allow ping from the source
A security group acts as a virtual firewall that controls the traffic for one or more instances. When you launch an instance, you can specify one or more security groups; otherwise, AWS uses the default security group. You can add rules to each security group that allow traffic to or from its associated instances. You can modify the rules for a security group at any time; the new rules are automatically applied to all instances that are associated with the security group. To decide whether to allow traffic to reach an instance, all the rules from all the security groups that are associated with the instance are evaluated.
The following are the characteristics of security group rules:
    1. By default, security groups allow all outbound traffic.
    2. Security group rules are always permissive; you can''t create rules that deny access.
    3. Security groups are stateful
Incorrect options:
Disable Source / Destination check on the Amazon EC2 instance
- The Source/Destination Check attribute controls whether source/destination checking is enabled on the instance. Disabling this attribute enables an instance to handle network traffic that isn''t specifically destined for the instance. For example, instances running services such as network address translation, routing, or a firewall should set this value to disabled. The default value is enabled. Source/Destination Check is not relevant to the question and it has been added as a distractor.
Create a secondary internet gateway to attach with public subnet and move the current internet gateway to private and write route tables
- There is no such thing as a secondary IGW. This option is added as a distractor.
Contact AWS support to map your VPC with subnet
- You cannot contact AWS support to map your VPC with the subnet.
References:
https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Internet_Gateway.html
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-security-groups.html
https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Route_Tables.html
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html#change_source_dest_check', 0, 1, 0, CAST(N'2025-08-13T11:22:38.140' AS DateTime), CAST(N'2025-08-13T11:22:38.140' AS DateTime))
INSERT [dbo].[QuestionHeader] ([QHID], [QHTitle], [QHMultiple], [Explain], [IsDone], [IsCorrect], [IsTag], [CreDateTime], [UpdDateTime]) VALUES (23, N'A photo hosting service publishes a collection of beautiful mountain images, every month, that aggregate over 50 gigabytes in size and downloaded all around the world. The content is currently hosted on Amazon EFS and distributed by Elastic Load Balancing (ELB) and Amazon EC2 instances. The website is experiencing high load each month and very high network costs.As a Solutions Architect, what can you recommend that won''t force an application refactor and reduce network costs and Amazon EC2 load drastically?', 0, N'總體解釋
Correct option:
Create an Amazon CloudFront distribution
Amazon CloudFront is a fast content delivery network (CDN) service that securely delivers data, videos, applications, and APIs to customers globally with low latency, high transfer speeds, all within a developer-friendly environment.
Amazon CloudFront points of presence (POPs) (edge locations) make sure that popular content can be served quickly to your viewers. Amazon CloudFront also has regional edge caches that bring more of your content closer to your viewers, even when the content is not popular enough to stay at a POP, to help improve performance for that content.
Regional edge caches help with all types of content, particularly content that tends to become less popular over time. Examples include user-generated content, such as video, photos, or artwork; e-commerce assets such as product photos and videos; and news and event-related content that might suddenly find new popularity.
For the given use case, you need to create an Amazon CloudFront distribution to add a caching layer in front of your ELB. That caching layer will be very effective as the image pack is a static file, and therefore it would save the network costs significantly without requiring an application refactor.
How Amazon CloudFront delivers content to your users:
via -
https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/HowCloudFrontWorks.html
Incorrect options:
Host the master pack onto Amazon S3 for faster access
- Hosting the master pack into Amazon S3 will result in application code refactoring. So, this option is not correct.
Upgrade the Amazon EC2 instances
- Upgrading the Amazon EC2 instances won''t help save network cost. Hence, this option is incorrect for the given scenario.
Enable Elastic Load Balancing (ELB) caching
- ELB does not have any caching capability. This option is just added as a distractor.
Reference:
https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/HowCloudFrontWorks.html', 0, 1, 0, CAST(N'2025-08-13T11:22:38.160' AS DateTime), CAST(N'2025-08-13T11:22:38.160' AS DateTime))
INSERT [dbo].[QuestionHeader] ([QHID], [QHTitle], [QHMultiple], [Explain], [IsDone], [IsCorrect], [IsTag], [CreDateTime], [UpdDateTime]) VALUES (29, N'A retail company uses AWS Cloud to manage its technology infrastructure. The company has deployed its consumer-focused web application on Amazon EC2-based web servers and uses Amazon RDS PostgreSQL database as the data store. The PostgreSQL database is set up in a private subnet that allows inbound traffic from selected Amazon EC2 instances. The database also uses AWS Key Management Service (AWS KMS) for encrypting data at rest.Which of the following steps would you recommend to facilitate end-to-end security for the data-in-transit while accessing the database?', 0, N'總體解釋
Correct option:
Configure Amazon RDS to use SSL for data in transit
You can use Secure Socket Layer / Transport Layer Security (SSL/TLS) connections to encrypt data in transit. Amazon RDS creates an SSL certificate and installs the certificate on the DB instance when the instance is provisioned. For MySQL, you launch the MySQL client using the --ssl_ca parameter to reference the public key to encrypt connections. Using SSL, you can encrypt a PostgreSQL connection between your applications and your PostgreSQL DB instances. You can also force all connections to your PostgreSQL DB instance to use SSL.
via -
https://aws.amazon.com/rds/features/security/
Incorrect options:
Use IAM authentication to access the database instead of the database user''s access credentials
- You can authenticate to your database instance using AWS Identity and Access Management (IAM) database authentication. IAM database authentication works with MySQL and PostgreSQL. With this authentication method, you don''t need to use a password when you connect to a database instance. Instead, you use an authentication token.
IAM authentication is just another way to authenticate the user''s credentials while accessing the database. It would not significantly enhance the security in a way that enabling SSL does by facilitating the in-transit encryption for the database.
Create a new security group that blocks SSH from the selected Amazon EC2 instances into the database
Create a new network access control list (network ACL) that blocks SSH from the entire Amazon EC2 subnet into the database
Both these options are added as distractors. You cannot SSH into an Amazon RDS database instance.
References:
https://aws.amazon.com/rds/features/security/
https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_MySQL.html#MySQL.Concepts.SSLSupport
https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_PostgreSQL.html#PostgreSQL.Concepts.General.SSL
https://aws.amazon.com/blogs/database/using-iam-authentication-to-connect-with-pgadmin-amazon-aurora-postgresql-or-amazon-rds-for-postgresql/', 0, 1, 0, CAST(N'2025-08-13T11:22:38.193' AS DateTime), CAST(N'2025-08-13T11:22:38.193' AS DateTime))
INSERT [dbo].[QuestionHeader] ([QHID], [QHTitle], [QHMultiple], [Explain], [IsDone], [IsCorrect], [IsTag], [CreDateTime], [UpdDateTime]) VALUES (43, N'A company has built a serverless application using Amazon API Gateway and AWS Lambda. The backend is leveraging an Amazon Aurora MySQL database. The web application was initially launched in the Americas and the company would now like to expand it to Europe, where a read-only version will be available to improve latency. You plan on deploying the Amazon API Gateway and AWS Lambda using AWS CloudFormation, but would like to have a read-only copy of your data in Europe as well.As a Solutions Architect, what do you recommend?', 0, N'總體解釋
Correct option:
Use Amazon Aurora Read Replicas
Amazon Aurora features a distributed, fault-tolerant, self-healing storage system that auto-scales up to 64TB per database instance. It delivers high performance and availability with up to 15 low-latency read replicas, point-in-time recovery, continuous backup to Amazon S3, and replication across three Availability Zones (AZs).
Aurora Replicas are independent endpoints in an Aurora DB cluster, best used for scaling read operations. Up to 15 Aurora Replicas can be distributed across the Availability Zones (AZs) that a DB cluster spans within an AWS Region. The DB cluster volume is made up of multiple copies of the data for the DB cluster. However, the data in the cluster volume is represented as a single, logical volume to the primary instance and Aurora Replicas in the DB cluster. You can also set up two Aurora MySQL DB clusters in different AWS Regions, by creating an Aurora Read Replica of an Amazon Aurora MySQL DB cluster in a different AWS Region. In this way, Aurora Read Replicas can be deployed globally.
Incorrect options:
Use Amazon Aurora Multi-AZ
- Aurora, stores copies of the data in a DB cluster across multiple Availability Zones in a single AWS Region, regardless of whether the instances in the DB cluster span multiple Availability Zones (AZs). When data is written to the primary DB instance, Aurora synchronously replicates the data across Availability Zones (AZs) to six storage nodes associated with your cluster volume. Doing so provides data redundancy, eliminates I/O freezes, and minimizes latency spikes during system backups. Always remember that the main purpose for multi-AZ is high availability whereas the main purpose of read replicas is read scalability.
Use Amazon DynamoDB Streams
- Amazon DynamoDB Streams is a powerful service that you can combine with other AWS services to solve many problems. When enabled, DynamoDB Streams captures a time-ordered sequence of item-level modifications in a DynamoDB table and durably stores the information for up to 24 hours. Applications can access a series of stream records, which contain an item change, from a DynamoDB stream in near real-time.
Create an AWS Lambda function to periodically back up and restore the Amazon Aurora database in another region
- AWS Lambda can be used to create backups for Amazon RDS. But, the process is not an optimized solution, especially when Amazon Aurora already offers the read replica feature.
References:
https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/Aurora.Replication.html
https://aws.amazon.com/rds/features/multi-az/
https://aws.amazon.com/rds/features/read-replicas/', 0, 1, 0, CAST(N'2025-08-13T11:22:38.267' AS DateTime), CAST(N'2025-08-13T11:22:38.267' AS DateTime))
INSERT [dbo].[QuestionHeader] ([QHID], [QHTitle], [QHMultiple], [Explain], [IsDone], [IsCorrect], [IsTag], [CreDateTime], [UpdDateTime]) VALUES (53, N'The engineering team at a global e-commerce company is currently reviewing their disaster recovery strategy. The team has outlined that they need to be able to quickly recover their application stack with a Recovery Time Objective (RTO) of 5 minutes, in all of the AWS Regions that the application runs. The application stack currently takes over 45 minutes to install on a Linux system.As a Solutions architect, which of the following options would you recommend as the disaster recovery strategy?', 0, N'總體解釋
Correct option:
Create an Amazon Machine Image (AMI) after installing the software and copy the AMI across all Regions. Use this Region-specific AMI to run the recovery process in the respective Regions
An Amazon Machine Image (AMI) provides the information required to launch an instance. You must specify an AMI when you launch an instance. You can launch multiple instances from a single AMI when you need multiple instances with the same configuration. You can use different AMIs to launch instances when you need instances with different configurations.
For the current use case, you need to create an AMI such that the application stack is already set up. But AMIs are bound to the Region they are created in. So, you need to copy the AMI across Regions for disaster recovery readiness.
Copying a source AMI results in an identical but distinct target AMI with its own unique identifier. In the case of an Amazon EBS-backed AMI, each of its backing snapshots is, by default, copied to an identical but distinct target snapshot. (The sole exceptions are when you choose to encrypt or re-encrypt the snapshot.) You can change or deregister the source AMI with no effect on the target AMI. The reverse is also true.
There are no charges for copying an AMI. However, standard storage and data transfer rates apply. If you copy an Amazon EBS-backed AMI, you will incur charges for the storage of any additional Amazon EBS snapshots.
AWS does not copy launch permissions, user-defined tags, or Amazon S3 bucket permissions from the source AMI to the new AMI. After the copy operation is complete, you can apply launch permissions, user-defined tags, and Amazon S3 bucket permissions to the new AMI.
AMIs Cross-Region copying:
via -
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/CopyingAMIs.html
Incorrect options:
Store the installation files in Amazon S3 for quicker retrieval
- Amazon Simple Storage Service (Amazon S3) is an object storage service from AWS. It will not help with speeding up the installation since Amazon S3 is a storage service. You will still need an Amazon EC2 instance to have the necessary installation environment.
Use Amazon EC2 user data to speed up the installation process
- User data of an Amazon EC2 instance can be used to perform common automated configuration tasks or run scripts after the instance starts. User data, cannot, however, be used to install the application. Amazon EC2 user data would not help as it would run the same installation script for the same duration of 45 minutes.
Create an Amazon Machine Image (AMI) after installing the software and use this AMI to run the recovery process in other Regions
- As discussed above, AMIs are Region-specific and need to be copied to all Regions they are intended to be used in.
References:
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AMIs.html
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/CopyingAMIs.html', 0, 0, 1, CAST(N'2025-08-13T11:22:38.317' AS DateTime), CAST(N'2025-08-13T11:22:38.317' AS DateTime))
INSERT [dbo].[QuestionHeader] ([QHID], [QHTitle], [QHMultiple], [Explain], [IsDone], [IsCorrect], [IsTag], [CreDateTime], [UpdDateTime]) VALUES (60, N'A retail company is using AWS Site-to-Site VPN connections for secure connectivity to its AWS cloud resources from its on-premises data center. Due to a surge in traffic across the VPN connections to the AWS cloud, users are experiencing slower VPN connectivity.Which of the following options will maximize the VPN throughput?', 0, N'總體解釋
Correct option:
Create an AWS Transit Gateway with equal cost multipath routing and add additional VPN tunnels
VPN connection is a secure connection between your on-premises equipment and your VPCs. Each VPN connection has two VPN tunnels which you can use for high availability. A VPN tunnel is an encrypted link where data can pass from the customer network to or from AWS. The following diagram shows the high-level connectivity with virtual private gateways.
With AWS Transit Gateway, you can simplify the connectivity between multiple VPCs and also connect to any VPC attached to AWS Transit Gateway with a single VPN connection. AWS Transit Gateway also enables you to scale the IPsec VPN throughput with equal cost multi-path (ECMP) routing support over multiple VPN tunnels. A single VPN tunnel still has a maximum throughput of 1.25 Gbps. If you establish multiple VPN tunnels to an ECMP-enabled transit gateway, it can scale beyond the default maximum limit of 1.25 Gbps.  You also must enable the dynamic routing option on your transit gateway to be able to take advantage of ECMP for scalability.
via -
https://aws.amazon.com/premiumsupport/knowledge-center/transit-gateway-ecmp-multiple-tunnels/
Incorrect options:
Use Transfer Acceleration for the VPN connection to maximize the throughput
- Transfer Acceleration is an Amazon S3 bucket-level feature that enables fast, easy, and secure transfers of files over long distances between your client and an S3 bucket. Transfer Acceleration is designed to optimize transfer speeds from across the world into S3 buckets. Transfer Acceleration takes advantage of the globally distributed edge locations in Amazon CloudFront.
This option has been added as a distractor as it is not relevant to AWS VPN connections.
Use AWS Global Accelerator for the VPN connection to maximize the throughput
- AWS Global Accelerator is a networking service that improves the performance of your users’ traffic by up to 60% using the global network infrastructure of AWS. When the internet is congested, AWS Global Accelerator optimizes the path to your application to keep packet loss, jitter, and latency consistently low. With Global Accelerator, you are provided two global static public IPs that act as a fixed entry point to your application, improving availability. Global Accelerator automatically re-routes your traffic to your nearest healthy available endpoint to mitigate endpoint failure.
AWS Global Accelerator can be used to optimize the network path, using the congestion-free AWS global network to route traffic to the endpoint that provides the best application performance . You can use an accelerated VPN connection to avoid network disruptions that might occur when traffic is routed over the public internet. AWS Global Accelerator will not maximize the VPN throughput, so it is not the best fit for the given use case.
Create a virtual private gateway with equal cost multipath routing and multiple channels
- A virtual private gateway is the VPN endpoint on the Amazon side of your Site-to-Site VPN connection that can be attached to a single VPC. A virtual private gateway does not support equal cost multi-path (ECMP) routing, so this option is incorrect.
References:
https://docs.aws.amazon.com/AmazonS3/latest/userguide/transfer-acceleration.html
https://aws.amazon.com/premiumsupport/knowledge-center/transit-gateway-ecmp-multiple-tunnels/', 0, 0, 1, CAST(N'2025-08-13T11:22:38.350' AS DateTime), CAST(N'2025-08-13T11:22:38.350' AS DateTime))
INSERT [dbo].[QuestionHeader] ([QHID], [QHTitle], [QHMultiple], [Explain], [IsDone], [IsCorrect], [IsTag], [CreDateTime], [UpdDateTime]) VALUES (62, N'An IT company runs a high-performance computing (HPC) workload on AWS. The workload requires high network throughput and low-latency network performance along with tightly coupled node-to-node communications. The Amazon EC2 instances are properly sized for compute and storage capacity and are launched using default options.Which of the following solutions can be used to improve the performance of the workload?', 0, N'總體解釋
Correct option:
Select a cluster placement group while launching Amazon EC2 instances
When you launch a new Amazon EC2 instance, the EC2 service attempts to place the instance in such a way that all of your instances are spread out across underlying hardware to minimize correlated failures. You can use placement groups to influence the placement of a group of interdependent instances to meet the needs of your workload.
Cluster placement group packs instances close together inside an Availability Zone (AZ). This strategy enables workloads to achieve the low-latency network performance necessary for tightly coupled node-to-node communication that is typical of HPC applications.
More on Cluster placement groups:
via -
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html
Incorrect options:
Select the appropriate capacity reservation while launching Amazon EC2 instances
- Capacity Reservations enable you to reserve compute capacity for your Amazon EC2 instances in a specific Availability Zone (AZ) for any duration. This gives you the ability to create and manage Capacity Reservations independently from the billing discounts offered by Savings Plans or regional Reserved Instances (RIs). By creating Capacity Reservations, you ensure that you always have access to Amazon EC2 capacity when you need it, for as long as you need it. Capacity Reservations cannot impact the performance of the underlying Amazon EC2 instances.
Select dedicated instance tenancy while launching Amazon EC2 instances
- Dedicated Instances are Amazon EC2 instances that run in a VPC on hardware that''s dedicated to a single customer. Your Dedicated instances are physically isolated at the host hardware level from instances that belong to other AWS accounts. Dedicated Instances are useful from a compliance perspective, but are not meant for performance improvement.
Select an Elastic Inference accelerator while launching Amazon EC2 instances
- Amazon Elastic Inference accelerators are GPU-powered hardware devices that are designed to work with any Amazon EC2 instance, Amazon Sagemaker instance, or Amazon ECS task to accelerate deep learning inference workloads at a low cost. They are for workloads that need deep learning. Also, AWS PrivateLink VPC Endpoints are needed for Elastic Inference accelerators, which makes it unsuitable for the current scenario.
Reference:
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html', 0, 1, 0, CAST(N'2025-08-13T11:22:38.363' AS DateTime), CAST(N'2025-08-13T11:22:38.363' AS DateTime))
SET IDENTITY_INSERT [dbo].[QuestionHeader] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionTag] ON 

INSERT [dbo].[QuestionTag] ([QTagID], [THID], [QHID], [CreDateTime], [UpdDateTime]) VALUES (1, 2, 1, CAST(N'2025-08-13T11:22:38.020' AS DateTime), CAST(N'2025-08-13T11:22:38.020' AS DateTime))
INSERT [dbo].[QuestionTag] ([QTagID], [THID], [QHID], [CreDateTime], [UpdDateTime]) VALUES (2, 3, 2, CAST(N'2025-08-13T11:22:38.030' AS DateTime), CAST(N'2025-08-13T11:22:38.030' AS DateTime))
INSERT [dbo].[QuestionTag] ([QTagID], [THID], [QHID], [CreDateTime], [UpdDateTime]) VALUES (3, 4, 3, CAST(N'2025-08-13T11:22:38.037' AS DateTime), CAST(N'2025-08-13T11:22:38.037' AS DateTime))
SET IDENTITY_INSERT [dbo].[QuestionTag] OFF
GO
SET IDENTITY_INSERT [dbo].[TagHeader] ON 

INSERT [dbo].[TagHeader] ([THID], [TagTitle], [CreDateTime], [UpdDateTime]) VALUES (1, N'EC2', CAST(N'2025-08-13T03:17:42.000' AS DateTime), CAST(N'2025-08-13T03:17:43.000' AS DateTime))
INSERT [dbo].[TagHeader] ([THID], [TagTitle], [CreDateTime], [UpdDateTime]) VALUES (2, N'S3', CAST(N'2025-08-13T03:19:08.000' AS DateTime), CAST(N'2025-08-13T03:19:10.000' AS DateTime))
INSERT [dbo].[TagHeader] ([THID], [TagTitle], [CreDateTime], [UpdDateTime]) VALUES (3, N'VPC', CAST(N'2025-08-13T03:19:17.000' AS DateTime), CAST(N'2025-08-13T03:19:18.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TagHeader] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_group_name_a6ea08ec_uniq]    Script Date: 2025/8/13 上午 11:23:26 ******/
ALTER TABLE [dbo].[auth_group] ADD  CONSTRAINT [auth_group_name_a6ea08ec_uniq] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_group_id_b120cbf9]    Script Date: 2025/8/13 上午 11:23:26 ******/
CREATE NONCLUSTERED INDEX [auth_group_permissions_group_id_b120cbf9] ON [dbo].[auth_group_permissions]
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_group_id_permission_id_0cd325b0_uniq]    Script Date: 2025/8/13 上午 11:23:26 ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_group_permissions_group_id_permission_id_0cd325b0_uniq] ON [dbo].[auth_group_permissions]
(
	[group_id] ASC,
	[permission_id] ASC
)
WHERE ([group_id] IS NOT NULL AND [permission_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_permission_id_84c5c92e]    Script Date: 2025/8/13 上午 11:23:26 ******/
CREATE NONCLUSTERED INDEX [auth_group_permissions_permission_id_84c5c92e] ON [dbo].[auth_group_permissions]
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_permission_content_type_id_2f476e4b]    Script Date: 2025/8/13 上午 11:23:26 ******/
CREATE NONCLUSTERED INDEX [auth_permission_content_type_id_2f476e4b] ON [dbo].[auth_permission]
(
	[content_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_permission_content_type_id_codename_01ab375a_uniq]    Script Date: 2025/8/13 上午 11:23:26 ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_permission_content_type_id_codename_01ab375a_uniq] ON [dbo].[auth_permission]
(
	[content_type_id] ASC,
	[codename] ASC
)
WHERE ([content_type_id] IS NOT NULL AND [codename] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_user_username_6821ab7c_uniq]    Script Date: 2025/8/13 上午 11:23:26 ******/
ALTER TABLE [dbo].[auth_user] ADD  CONSTRAINT [auth_user_username_6821ab7c_uniq] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_groups_group_id_97559544]    Script Date: 2025/8/13 上午 11:23:26 ******/
CREATE NONCLUSTERED INDEX [auth_user_groups_group_id_97559544] ON [dbo].[auth_user_groups]
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_groups_user_id_6a12ed8b]    Script Date: 2025/8/13 上午 11:23:26 ******/
CREATE NONCLUSTERED INDEX [auth_user_groups_user_id_6a12ed8b] ON [dbo].[auth_user_groups]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_groups_user_id_group_id_94350c0c_uniq]    Script Date: 2025/8/13 上午 11:23:26 ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_user_groups_user_id_group_id_94350c0c_uniq] ON [dbo].[auth_user_groups]
(
	[user_id] ASC,
	[group_id] ASC
)
WHERE ([user_id] IS NOT NULL AND [group_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_user_permissions_permission_id_1fbb5f2c]    Script Date: 2025/8/13 上午 11:23:26 ******/
CREATE NONCLUSTERED INDEX [auth_user_user_permissions_permission_id_1fbb5f2c] ON [dbo].[auth_user_user_permissions]
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_user_permissions_user_id_a95ead1b]    Script Date: 2025/8/13 上午 11:23:26 ******/
CREATE NONCLUSTERED INDEX [auth_user_user_permissions_user_id_a95ead1b] ON [dbo].[auth_user_user_permissions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_user_permissions_user_id_permission_id_14a6b632_uniq]    Script Date: 2025/8/13 上午 11:23:26 ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_user_user_permissions_user_id_permission_id_14a6b632_uniq] ON [dbo].[auth_user_user_permissions]
(
	[user_id] ASC,
	[permission_id] ASC
)
WHERE ([user_id] IS NOT NULL AND [permission_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_admin_log_content_type_id_c4bce8eb]    Script Date: 2025/8/13 上午 11:23:26 ******/
CREATE NONCLUSTERED INDEX [django_admin_log_content_type_id_c4bce8eb] ON [dbo].[django_admin_log]
(
	[content_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_admin_log_user_id_c564eba6]    Script Date: 2025/8/13 上午 11:23:26 ******/
CREATE NONCLUSTERED INDEX [django_admin_log_user_id_c564eba6] ON [dbo].[django_admin_log]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [django_content_type_app_label_model_76bd3d3b_uniq]    Script Date: 2025/8/13 上午 11:23:26 ******/
CREATE UNIQUE NONCLUSTERED INDEX [django_content_type_app_label_model_76bd3d3b_uniq] ON [dbo].[django_content_type]
(
	[app_label] ASC,
	[model] ASC
)
WHERE ([app_label] IS NOT NULL AND [model] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_session_expire_date_a5c62663]    Script Date: 2025/8/13 上午 11:23:26 ******/
CREATE NONCLUSTERED INDEX [django_session_expire_date_a5c62663] ON [dbo].[django_session]
(
	[expire_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Certified] ADD  DEFAULT (getdate()) FOR [CreDateTime]
GO
ALTER TABLE [dbo].[QuestionCertified] ADD  CONSTRAINT [DF__QuestionC__CreDa__4D94879B]  DEFAULT (getdate()) FOR [CreDateTime]
GO
ALTER TABLE [dbo].[QuestionChoose] ADD  DEFAULT (getdate()) FOR [CreDateTime]
GO
ALTER TABLE [dbo].[QuestionEvent] ADD  DEFAULT (getdate()) FOR [CreDateTime]
GO
ALTER TABLE [dbo].[QuestionHeader] ADD  CONSTRAINT [DF__QuestionH__CreDa__37A5467C]  DEFAULT (getdate()) FOR [CreDateTime]
GO
ALTER TABLE [dbo].[QuestionRecord] ADD  DEFAULT (getdate()) FOR [CreDateTime]
GO
ALTER TABLE [dbo].[QuestionTag] ADD  CONSTRAINT [DF__QuestionT__CreDa__49C3F6B7]  DEFAULT (getdate()) FOR [CreDateTime]
GO
ALTER TABLE [dbo].[TagHeader] ADD  DEFAULT (getdate()) FOR [CreDateTime]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_permission]  WITH CHECK ADD  CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[auth_permission] CHECK CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH CHECK ADD  CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH CHECK ADD  CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH CHECK ADD  CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH CHECK ADD  CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id]
GO
ALTER TABLE [dbo].[QuestionCertified]  WITH CHECK ADD  CONSTRAINT [FK_QuestionCertified_CID] FOREIGN KEY([CID])
REFERENCES [dbo].[Certified] ([CID])
GO
ALTER TABLE [dbo].[QuestionCertified] CHECK CONSTRAINT [FK_QuestionCertified_CID]
GO
ALTER TABLE [dbo].[QuestionCertified]  WITH CHECK ADD  CONSTRAINT [FK_QuestionCertified_QHID] FOREIGN KEY([QHID])
REFERENCES [dbo].[QuestionHeader] ([QHID])
GO
ALTER TABLE [dbo].[QuestionCertified] CHECK CONSTRAINT [FK_QuestionCertified_QHID]
GO
ALTER TABLE [dbo].[QuestionChoose]  WITH CHECK ADD  CONSTRAINT [FK_QuestionChoose_QuestionHeader] FOREIGN KEY([QHID])
REFERENCES [dbo].[QuestionHeader] ([QHID])
GO
ALTER TABLE [dbo].[QuestionChoose] CHECK CONSTRAINT [FK_QuestionChoose_QuestionHeader]
GO
ALTER TABLE [dbo].[QuestionEvent]  WITH CHECK ADD  CONSTRAINT [FK_QuestionEvent_QHID] FOREIGN KEY([QHID])
REFERENCES [dbo].[QuestionHeader] ([QHID])
GO
ALTER TABLE [dbo].[QuestionEvent] CHECK CONSTRAINT [FK_QuestionEvent_QHID]
GO
ALTER TABLE [dbo].[QuestionRecord]  WITH CHECK ADD  CONSTRAINT [FK_QuestionRecord_QCID] FOREIGN KEY([QCID])
REFERENCES [dbo].[QuestionChoose] ([QCID])
GO
ALTER TABLE [dbo].[QuestionRecord] CHECK CONSTRAINT [FK_QuestionRecord_QCID]
GO
ALTER TABLE [dbo].[QuestionRecord]  WITH CHECK ADD  CONSTRAINT [FK_QuestionRecord_QEID] FOREIGN KEY([QEID])
REFERENCES [dbo].[QuestionEvent] ([QEID])
GO
ALTER TABLE [dbo].[QuestionRecord] CHECK CONSTRAINT [FK_QuestionRecord_QEID]
GO
ALTER TABLE [dbo].[QuestionTag]  WITH CHECK ADD  CONSTRAINT [FK_QuestionTag_QHID] FOREIGN KEY([QHID])
REFERENCES [dbo].[QuestionHeader] ([QHID])
GO
ALTER TABLE [dbo].[QuestionTag] CHECK CONSTRAINT [FK_QuestionTag_QHID]
GO
ALTER TABLE [dbo].[QuestionTag]  WITH CHECK ADD  CONSTRAINT [FK_QuestionTag_THID] FOREIGN KEY([THID])
REFERENCES [dbo].[TagHeader] ([THID])
GO
ALTER TABLE [dbo].[QuestionTag] CHECK CONSTRAINT [FK_QuestionTag_THID]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_action_flag_a8637d59_check] CHECK  (([action_flag]>=(0)))
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_action_flag_a8637d59_check]
GO
USE [master]
GO
